@charset "utf-8";

* {
    margin: 0;
    padding: 0;

    background-color: #F9F7F0;
}

#wrap {
    width: 100%;
    height: 1000px;

    text-align: center;
    text-transform: uppercase;
}

#header-wrap {
    width: 100%;
    background-color: #8d6e63;
}

#banner-wrap {
    width: 100%;
    background-color: #a1887f;
}

#content-wrap {
    width: 100%;
    background-color: #bcaaa4;
}

#content2-wrap {
    width: 100%;
    background-color: #178CA4;
}

#footer-wrap {
    width: 100%;
    background-color: #d7ccc8;
}

/* 자식이 height 값을 가지고 있으면 부모의 height 값은 없어도 된다.
           width: 100%는 기본 값이기 때문에 없어도 된다.       
           마우스 가까이 가면 왼쪽은 블로그가기 오른쪽은 상세보기
           오른쪽은 항상 + 빈박스
        */
.header-container {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-color: #3e2723;
}

.content-container {
    margin: 0 auto;

    display: flex;
    background-color: #4e342e;
}

.content2-container { 
    
}

#card-list {
    background-color: #178CA4;    
}

#mainpage2 {
    background-color: #18B7BE;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

.footer-container {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    background-color: #6d4c41;
}

.col {
    width: 320px;
    height: 450px;

    background-color: #178CA4;   
}

.card-img-top {
    width: 300px;
    height: 300px;

    margin: 0 auto;
}

.card-img-top2 {
    width: 150px;
    height: 150px;
}

.card-body {
    margin: 0 auto;
    width: 300px;
    height: 150px;

    display:block;
}

.card-body2 {
    margin: 0 auto;
    width: 300px;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    height: 40px;
    color: #F9F7F0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #072A40;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

.card-text {
    color: #F9F7F0;
    background-color: #18B7BE;

    width: 250px;
    height: 70px;
    font-size: 20px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

.wrapper {
    margin: 150px auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.btn,
.btn2,
.btn3 {
    padding: 15px 100px;
    margin: 10px 4px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}