@charset "utf-8";

/* 자식이 height 값을 가지고 있으면 부모의 height 값은 없어도 된다.
           width: 100%는 기본 값이기 때문에 없어도 된다.       
           마우스 가까이 가면 왼쪽은 블로그가기 오른쪽은 상세보기
           오른쪽은 항상 + 빈박스
        */

.content2-container {
  width: 90%;
  margin: 0 auto;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;

}


.col {
  width: 320px;
  height: 450px;
  border: none;
  background-color: transparent;
}

.card-img-top {
  width: 300px;
  height: 300px;

  margin: 0 auto;
}

.card-img-top2 {
  width: 150px;
  height: 150px;
}

.card-body {
  margin: 0 auto;
  width: 300px;
}

.card-body2 {
  width: 300px;
  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title-box {
  width: 250px;
  height: 50px;
  background-color: #072A40;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  color: #F9F7F0;
  
  height: 40px;
  font-size: 1.4rem;
  text-align: center;
  
  display: inline-block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;

  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

.card-text-box {
  width: 250px;
  height: 70px;  
  background-color: #18B7BE;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  background-color: #18B7BE;
  color: #F9F7F0;
  
  font-size: 0.8rem;
  text-align: center;

  display: inline-block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;

  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.wrapper {
  margin: 150px auto;
  text-align: center;
  width: 100%;
  position: relative;
}

.btn,
.btn2,
.btn3 {
  padding: 15px 100px;
  margin: 10px 4px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
