@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100%;
    height: 1000px;


    text-align: center;
    text-transform: uppercase;
}

#header-wrap {
    width: 100%;
    background-color: #8d6e63;
}

#banner-wrap {
    width: 100%;
    background-color: #a1887f;
}

#content-wrap {
    width: 100%;
    background-color: #bcaaa4;
}

#footer-wrap {
    width: 100%;
    background-color: #d7ccc8;
}

/* 자식이 height 값을 가지고 있으면 부모의 height 값은 없어도 된다.
           width: 100%는 기본 값이기 때문에 없어도 된다.       
           마우스 가까이 가면 왼쪽은 블로그가기 오른쪽은 상세보기
           오른쪽은 항상 + 빈박스
        */
.header-container {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    background-color: #3e2723;
}

.content-container {
    width: 1000px;
    margin: 0 auto;

    display: flex;
    background-color: #4e342e;
}

.content2-container {
    width: 1000px;
    margin: 0 auto;
    background-color: #5d4037;
}
.footer-container {width: 1000px; height: 100px; line-height: 100px; margin: 0 auto; background-color: #6d4c41;}

.card {
    width: 320px;
    height: 450px;
}

.card-img-top {
    width: 300px;
    height: 300px;

    margin: 0 auto;
}

.card-img-top2 {
    width: 150px;
    height: 150px;
}

.card-body {
    margin: 0 auto;
    width: 300px;
    height: 150px;
}

.card-body2 {
    margin: 0 auto;
    width: 300px;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    height: 30px;
}

.card-text {
    color: black;
    width: 250px;
    height: 70px;
    font-size: 20px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: narmal;
    line-height: 1.2;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.wrapper {
    margin: 150px auto;
    text-align: center;
    width: 100%;
    position: relative;
}

.btn,
.btn2,
.btn3 {
    padding: 15px 100px;
    margin: 10px 4px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;

}