body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    background-color: rgb(249, 250, 250);
    background: linear-gradient(180deg, rgb(249, 250, 250), rgb(230, 230, 230));
    color: rgb(32, 48, 60);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: #20303c;
    font-size: 5rem;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#page-logo {
    transition: transform 1s ease-in-out;
}

#page-logo:hover {
    transform: scale(1.5);
}

.intro {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.intro div {
    padding: 1rem 1.5rem;
}

.intro p {
    font-size: 1rem;
}

.intro img {
    width: 300px;
    height: 280px;
    margin: auto;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 2rem 0;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


#mainpage {
    margin: 2rem;
    margin-top: 0;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

@media (max-width: 60rem) {
    .intro {
        flex-direction: column;
    }
}