body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    background-color: rgb(197, 249, 255);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
<<<<<<< Updated upstream
    color: rgb(245, 243, 160);
=======
    color: #072A40;
>>>>>>> Stashed changes
    font-size: 5rem;
    text-decoration: none;
    text-shadow: 1px 1px 20px rgb(0, 0, 0);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div p {
    margin: 1rem 3rem;
    margin-right: 0.3rem;
    /* 나중에 정리 */
    padding: 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

<<<<<<< Updated upstream
section img {
=======
.intro {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    background-color: #178CA4;
}

.intro div {
    padding: 1rem 1.5rem;
}

.intro p {
    font-size: 1.3rem;
}

.intro img {
>>>>>>> Stashed changes
    width: 300px;
    height: 280px;
    object-fit: cover;
    margin-right: 3rem;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 2rem 0;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#mainpage {
    margin: 2rem;
    margin-top: 0;
    padding: 1.5rem;
    background-color: #18B7BE;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}