body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    background: linear-gradient(180deg, rgb(234, 234, 234), rgb(79, 79, 79));
    color: rgb(32, 48, 60);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#page-logo {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    font-size: 5rem;
    transition: transform 1s ease-in-out;
    background: linear-gradient(to bottom, #41a079, #485750);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#page-logo:hover {
    transform: scale(1.5);
}

.intro {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.intro div {
    padding: 1rem 1.5rem;
}

.intro p {
    font-size: 1rem;
}

.intro img {
    width: 350px;
    height: 350px;
    margin: auto;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 2rem 0;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#topBtn {
    margin-bottom: 2rem;
    margin-right: 4rem;
    text-align: right;
    color: #263238;
    transition: all 200ms ease-out;
    z-index: 10;
 }

.btn-moveTop {
    background-color: transparent;
    border: none;
    padding-right: 0.7rem;
    font-size: 1.25rem;
    font-weight: bolder;
    border-radius: 20px;
    color: #d2d2d2;
 }

.btn-moveTop:hover {
    background-color: #263238;
    font-weight: bolder;
    color: #fff;
 }

#mainpage {
    margin: 2rem;
    margin-top: 0;
    padding: 1.5rem;
    background: linear-gradient(180deg, #191620, #0c000e);
    color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}

@media (max-width: 67.5rem) {
    .intro {
        flex-direction: column;
    }

    .intro img {
        width: 350px;
        height: 370px;
        margin: auto;
        object-fit: cover;
    }
}

@media (max-width: 44.75rem) {
    #intro-text {
        display: none;
    }

    .intro img {
        width: 350px;
        height: 370px;
        margin: auto;
        object-fit: cover;
    }
}