<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Introduction</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="../static/js/index.js"></script>
  </head>
  <body>
    <!--제목-->
    <header id="page-logo">
      <h1>
        <a href="#">one A</a>
      </h1>
    </header>
    <main>
      <section id="mainpage">
        <section class="intro">
          <!--설명-->
          <div>
            <p>안녕하세요 ~! A-1조인 one A 입니다.</p>
            <p>음식을 적지 않았지만 음식으로 묶인 사람들입니다.</p>
            <p>잘 부탁드립니다.</p>
          </div>
          <!--사진-->
          <img src="../static/images/team.jpg" alt="team" />
        </section>
        <!--선-->
        <hr />
        <!--팀원소개-->
        <section>
          <input type = "button" onclick="save_member()" value="hi">
          <ul>
            <li>
              <p>팀원 사진 불러오기 / 추가 / 수정 / 삭제</p>
            </li>
          </ul>
        </section>
      </section>
    </main>
  </body>
</html>
